<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>嘉实基金</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
<div id="app">
    <div v-show="show_box" class="book_box">
        <p style="font-size: 26px;color: #db2e32;font-weight: bold;">用户订阅</p>
        <p style="display: flex;justify-content: space-between">
            <input class="tel" v-model="tel" type="tel" maxlength="11" placeholder="请输入手机号码">
            <button v-show="time" @click="timeOut" class="code_btn">获取验证码</button>
            <button v-show="!time" class="time_out">{{timeCount}}秒</button>
        </p>
        <p><input type="text" placeholder="请输入验证码" v-model="code" style="width: 60%;height: 35px;"></p>
        <p>通过手机号订阅之后</br>本频道有更新会下发到您的手机</p>
        <p style="display: flex;width: 64%;justify-content: space-around"><button @click="book" class="book">订阅</button><button @click="cancel" class="cancel" style="background: #a1acc0;">取消</button></p>
    </div>
    <div v-show="show_box" class="mask">

    </div>
    <header>
        <div class="nav">
            <span class="logo fl" onclick="location.href='index.html'"><img src="./img/logo.png" class="logo_" alt=""></span>
            <ul class="title fl" id="title">

                <!--<li>基金理财</li>-->
            </ul>
            <div class="fr" style="position: absolute;right: 0; top: 7px;">
                <span >
                    <img id="search" src="./img/search.png" alt="" style="margin-right: 60px;">
                    <img id="close" class="hidden" src="./img/close.png" alt="" style="margin-right: 60px;">
                </span>
                <span><img id="rank" style="cursor: pointer;" src="./img/liebiao-.png" alt=""></span>
            </div>
            <div class="searchBox hidden">
                <span style="position: absolute;top: 8px;left: 20px;height: 30px;"><img src="./img/search.png" alt="" ></span>
                <input type="text" id="search_val" placeholder="输入节目标题" >
                <div class="search_list hidden">
                    <ul class="listL">

                    </ul>
                </div>
            </div>
            <div class="rank_box hidden">
                <h5>排行榜 <span id="close_rank" style="font-weight: normal;color: #d13033;cursor: pointer;" class="fr">X</span></h5>
                <ul class="topHot">

                </ul>
            </div>
        </div>
    </header>
    <!--轮播-->
    <div class="slide">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"  v-for="(item,index) in banner">
                    <a :href="'detail.html?cid='+item.cid+'&columnid='+item.column_id+''" style="display: inline-block;width: 100%;height: 100%;">
                        <img :src='item.imgUrl?item.imgUrl:"./img/banner123.png"' alt="">
                    </a>
                </div>
            </div>
            <!-- 分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!--section-->
    <div class="section_wrap wrap" v-for="(item,index) in channel_One" :key="index" :class="{bg_:index==1}">
        <div class="section">
            <div class="section_left fl">
                <p><span class="tit_bg">{{item.title.column_name}}</span></p>
                <div class="poster_box">
                    <a :href="'detail.html?cid='+item.left.cid+'&columnid='+item.title.column_id+''" style="display: inline-block;width: 100%;height: 100%;">
                        <img class="poster" :src='item.left.img?item.left.img:"img/poster.jpg"' alt="">
                        <span class="play_icon"><img src="./img/play.png" alt=""></span>
                        <div class="intro">
                            <span class="phone" @mouseover="showCode(item.left.cid_random)" @mouseout="hideCode(item.left.cid_random)"></span>
                            <img class="er_img hidden" :id="item.left.cid_random"  :src="item.left.qr_code" alt="">
                            <h5 style="font-size: 18px;font-weight: normal;">{{item.left.name}}</h5>
                            <p style="margin: 0;padding: 0;margin-top: 15px;font-size: 16px;">{{item.left.desc}}</p>
                        </div>
                        <span style="position: absolute;border-radius:20px;font-size:16px;color:#fff;top: 16px;right: 16px;background: #db2e32;padding:3px 15px;">热播中</span>
                    </a>
                </div>
            </div>
            <div class="section_right fr">
                <p class="top_p">
                    <span class="fr" style="color: #666;font-size: 14px;"><a :href="'list.html?column_img='+item.title.column_img+'&columnid='+item.title.column_id+''" style="color: #666;">更多...</a></span>
                    <span style="cursor: pointer;margin-right: 15px;border-right: 1px solid #ccc;padding-right: 15px;" @click="show_book(item.title.column_id)" class="fr"><span></span>订阅</span>
                </p>
                <div class="small_box" v-for="(msg,index) in item.right">
                    <a :href="'detail.html?cid='+msg.cid+'&columnid='+item.title.column_id+''" style="display: inline-block;width: 100%;height: 100%;">
                        <img class="small_poster" :src='msg.img ? msg.img:"img/small_poster.jpg"' alt="">
                        <span class="little_play"><img src="./img/play-small.png" alt=""></span>
                        <p>{{msg.name}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="order_wrap wrap" >
        <div class="order_box">
            <p style="height: 40px;line-height: 40px"><span class="tit_bg fl">{{channel_twoMsg.column_name}}</span>
                <span class="fr">
                    <span style="cursor: pointer;margin-right: 20px;font-size: 14px;color: #d13033;" @click="show_book(channel_twoMsg.column_id)" class="fl"><span></span>订阅</span>
                <a :href="'list.html?column_img='+channel_twoMsg.column_img+'&columnid='+channel_twoMsg.column_id+''" style="color: #666;">更多...</a></span>
                </span>
            </p>
            <div class="user_box" >
                <div class="before_box" v-for="(item,index) in channel_two">
                    <p style="width: 100%;text-align: center;margin: 30px 0;font-size: 18px;"><span>{{timeChange(item.live_start)}}</span></p>
                    <p style="width: 100%;height: 3px;background: #cfcfcf;margin-bottom: 30px;position: relative;">
                    <span v-show="item.live_type!=1" style="display: inline-block;width: 25px;height: 25px;border-radius: 50%;position: absolute;
                    left: 40%;top: -11px;background: #cfcfcf;"></span>
                        <span v-show="item.live_type==1" style="display: inline-block;width: 25px;height: 25px;border-radius: 50%;position: absolute;
                    left: 40%;top: -11px;background: #db2e32;"></span>
                    </p>
                    <div class="" style="position: relative;">
                        <a :href="'detail.html?cid='+item.content_id+'&columnid='+channel_twoMsg.column_id+''" style="display: inline-block;width: 100%;height: 100%;">
                            <div style="position: relative;width: 160px;height: 120px;">
                                <img class="lie_poster" :src='item.content_img?item.content_img:"./img/small_poster.jpg"' alt="" style="width: 160px;height: 120px;border-radius: 10px;">
                                <img class="er_img hidden" :id="item.cid_random" :src="item.qr_code" alt="">
                                <span class="phone" @mouseover="showCode(item.cid_random)" @mouseout="hideCode(item.cid_random)" style=""></span>
                                <span v-show="item.live_type==1" class="clock" style=""></span>
                            </div>
                            <span class="little_play" style="left: 32%;top: 24%;"><img src="./img/play-small.png" alt=""></span>

                            <p style="margin: 15px 0;font-size: 14px;color: #666;width: 160px;">{{item.name}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="other_wrap wrap" style="background: #fafafa;">
        <div class="other_box">
            <div style="width: 30%;float:left;margin: 0 1.5%" v-for="(item,index) in channel_three">
                <p style="margin: 15px 0;height: 40px;line-height: 40px;"><span style="display: inline-block;width: 8px;height: 18px;background: #db2e32;margin-right: 10px;"></span><span style="font-size: 18px;color: #333;">{{item.column_name}}</span>
                    <span @click="show_book(item.column_id)" style="cursor: pointer;color: #db2e32;margin-left: 80px;height: 40px;line-height: 40px;font-size: 14px;">订阅</span>
                    <span class="" style="margin-left: 20px;">
                        <a :href="'list.html?column_img='+item.column_img+'&columnid='+item.column_id+''" style="color: #666;">更多...</a>
                    </span>
                </p>
                <div class="" style="position: relative;">
                    <a :href="'detail.html?cid='+item.cid+'&columnid='+item.column_id+''" style="display: inline-block;width: 100%;height: 100%;">
                        <div style="position: relative;width: 286px;height: 230px;">
                            <img :src='item.img?item.img:"./img/poster.jpg"' alt="" style="width: 286px;height: 230px;border-radius: 10px;">
                            <img class="er_img hidden" :id="item.cid_random" :src="item.qr_code" alt="">
                            <span class="phone" @mouseover="showCode(item.cid_random)" @mouseout="hideCode(item.cid_random)" style=""></span>
                            <!--<div style="width: 100px;height: 100px;background: darkkhaki;position: absolute;bottom: 15px;right: 15px;"></div>-->
                        </div>
                        <span class="little_play" style="left: 36%;top: 28%;"><img src="./img/play.png" style="width: 60px;" alt=""></span>
                        <p style="margin: 25px 0;font-size: 14px;color: #333;">{{item.name}}</p>
                        <span style="position: absolute;border-radius:20px;font-size:16px;color:#fff;top: 16px;right: 16px;background: #db2e32;padding:3px 15px;">{{live_type(item.live_type)}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script src="./js/jquery-2.1.4.min.js"></script>
<script src="./js/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="js/browser.min.js"></script>
<script src="js/common.js"></script>
<script src="js/vue.min.js"></script>
<script src="jsRander/jsrander.min.js"></script>
<script src="js/index.js" type="text/babel"></script>
<script id="topList" type="text/x-jsrender">
	 <li><span class='topBj'>{{:top}}</span><a href={{:nameLink}}>{{:nameSearch}}</a></li>
</script>
<script id="nameList" type="text/x-jsrender">
	 <li><a style="color:#333;" href={{:nameLink}}>{{:nameSearch}}</a></li>
</script>
<script>

</script>
</html>