<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>嘉实基金</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/list.css">
</head>
<body>
<div id="app">
    <header>
        <div class="nav">
            <span class="logo fl" onclick="location.href='index.html'"><img src="./img/logo.png" class="logo_" alt=""></span>
            <ul class="title fl" id="title">

               <!-- <li>基金理财</li>-->
            </ul>
            <div class="fr">
                <span >
                    <img id="search" src="./img/search.png" alt="" style="margin-right: 60px;">
                    <img id="close" class="hidden" src="./img/close.png" alt="" style="margin-right: 60px;">
                </span>
                <span><img id="rank" style="cursor: pointer;" src="./img/liebiao-.png" alt=""></span>
            </div>
            <div class="searchBox hidden">
                <span style="position: absolute;top: 8px;left: 20px;height: 30px;"><img src="./img/search.png" alt="" ></span>
                <input type="text" id="search_val" placeholder="输入节目标题或嘉宾" >
                <div class="search_list hidden">
                    <ul class="listL">

                    </ul>
                </div>
            </div>
            <div class="rank_box hidden">
                <h5>排行榜 <span id="close_rank" style="font-weight: normal;color: #666;cursor: pointer;" class="fr">X</span></h5>
                <ul class="topHot">

                </ul>
            </div>
        </div>
    </header>
    <div class="ban_box">
        <img :src='column_img?column_img:"img/-banner.png"' alt="">
    </div>
    <div class="content_wrap ">
        <div class="content_box">
            <div class="content_left fl">
                <div class="poster_box" v-for="(item,index) in listMsg" :key="item.cid">
                    <a style="display: inline-block;width: 100%;height: 100%;color: inherit;" :href="'detail.html?cid='+item.cid+'&columnid='+columnid+''">
                        <img class="poster" :src='item.img?item.img:"img/poster.jpg"' alt="">
                        <span class="play_icon"><img src="img/play.png" alt=""></span>
                        <div class="intro">
                            <span class="phone"></span>
                            <h5 style="margin: 15px 0;font-size: 16px;color: #333">{{item.name}}</h5>
                            <p v-html="item.description" style="margin: 0;padding: 0;margin-top: 15px;line-height: 24px;overflow: hidden;
                           text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;"></p>
                        </div>
                        <span style="position: absolute;border-radius:20px;font-size:16px;color:#fff;top: 50px;right: 50px;background: #db2e32;padding:3px 15px;">{{live_type(item.live_type)}}</span>
                    </a>
                </div>
            </div>
            <div class="hot_box fl">
                <h5>热播榜</h5>
                <ul>
                    <li v-for="(item,index) in getHot" :key="item.cid">
                        <a :href="'detail.html?cid='+item.cid+'&columnid='+item.column_id+''" style="display: inline-block;width: 100%;height: 100%;">
                            <span :class="{first:index==0,second:index==1,third:index==2}">{{index+1}}</span>{{item.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script src="./js/jquery-2.1.4.min.js"></script>
<script src="./js/swiper-3.4.2.jquery.min.js"></script>
<script src="js/common.js"></script>
<script src="js/vue.min.js"></script>
<script src="jsRander/jsrander.min.js"></script>
<script src="js/list.js"></script>
<script id="topList" type="text/x-jsrender">
	 <li><span class='topBj'>{{:top}}</span><a href={{:nameLink}}>{{:nameSearch}}</a></li>
</script>
<script id="nameList" type="text/x-jsrender">
	 <li><a style="color:#4658a8;" href={{:nameLink}}>{{:nameSearch}}</a></li>
</script>
<script>

</script>
</html>